{% extends "homepage/base.html" %} {% load static %} {% block content %}
<!-- Landing page banner -->
<div class="container-fluid position-relative bg-lightblue p-0">
  <img src="{% static 'products/indexBG.jpg' %}" height="alt"="" class="opacity-25 cover-img-crop" />
  <div class="container top-0 start-50 translate-middle-x position-absolute text-center col-12 col-sm-10 col-xxl-6">
    <h1 class="fw-bold mt-4">Beijing Majestic Stationery</h1>
    <p>
      We are an modern commercial company specialized in international stationery trading, providing high quality
      writing instruments and art supplies up to a proffessional level.
    </p>
    <a class="btn btn-bluegrotto mt-3" href="{% url 'products:products' %}">See Products</a>
    <div id="carouselExampleIndicators" class="carousel slide mt-4" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'products/index1.jpg' %}" class="carousel-crop" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{% static 'products/index2.jpg' %}" class="carousel-crop" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{% static 'products/index3.jpg' %}" class="carousel-crop" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{% static 'products/index4.jpg' %}" class="carousel-crop" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!-- About company cards -->
<div class="container-fluid py-5">
  <!-- Cards go here -->
  <div class="container col-12 col-md-10 col-xxl-8 justify-content-between">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100 bg-lightblue border-0 p-3">
          <div class="card-body mb-5">
            <p class="fw-normal">
              <span class="badge rounded-pill text-bg-majesticblue">Our Mission</span>
            </p>
            <h4 class="card-title fw-bold">Quality products and services</h4>
            <p class="card-text">
              Our motto is “high quality and high customer satisfaction”. We focus on the value and demands of our
              customers and will offer them the commodity with the top quality, low price and the short
              lead time.
            </p>
          </div>
          <div class="position-absolute bottom-0 end-0 mx-4 mb-3">
            <a href="{% url 'about:about' %}" class="btn btn-outline-navyblue rounded-pill">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-lightblue border-0 p-3">
          <div class="card-body mb-5">
            <p class="fw-normal">
              <span class="badge rounded-pill text-bg-majesticblue">Our Expertise</span>
            </p>
            <h4 class="card-title fw-bold">Vast manufacturer selections</h4>
            <!-- WARNING: Need to replace dummy text -->
            <p class="card-text">
              We have a wide selection of manufacturers and suppliers within China. We are fimilar with local providers,
              maintaining close relations to achive low prices for our customers. Our products are global market ready, some
              destinations include Europe, the Americas, and a few selected Asia countries. We have the honor of
              collaborating with some of the world's largest brands.
            </p>
          </div>
          <div class="position-absolute bottom-0 end-0 mx-4 mb-3">
            <a href="{% url 'about:about' %}" class="btn btn-outline-navyblue rounded-pill">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Introduce Team -->

{% endblock content %}