{% extends "homepage/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid m-0 p-0 position-relative"">
	<div class=" bg-lightblue">
	<img src="{% static 'products/indexBG.jpg' %}" height=alt="" class="opacity-25 cover-img-crop">
</div>
<div class="start-50 top-0 position-absolute text-center translate-middle-x mt-5 col-12 col-sm-10 col-xxl-6">
	<h1 class="fw-bold mt-4">Beijing Majestic Stationery</h1>
	<p> An industrial and commercial company specialized in stationery trading.</p>
	<a class="btn btn-bluegrotto mt-3" href="{% url 'products:products' %}">See Products</a>
	<div id="carouselExampleIndicators" class="carousel slide mt-4" data-bs-ride="true">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://image-placeholder.com/images/actual-size/1680x1050.png" class="carousel-crop"
					alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://image-placeholder.com/images/actual-size/1680x1050.png" class="carousel-crop"
					alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://image-placeholder.com/images/actual-size/1680x1050.png" class="carousel-crop"
					alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
</div>
<div class="container-fluid" style="height: 400px;">
	<!-- Cards go here -->
</div>
<div class="position-relative container-fluid bg-navyblue" style="height: 500px;">
	<!-- Meet the team here -->
	<div class="mt-5 start-50 top-0 position-absolute translate-middle-x col-10 col-xxl-8">
		<p class="fw-normal"><span class="badge rounded-pill text-bg-majesticblue">Our Team</span></p>
		<h2 class="text-lightblue fw-light">Meet our talented team</h2>
		<div class="mb-4">
			<!-- Team cards -->
			<div class="row row-cols-3 row-cols-lg-6 g-4">
				<div class="col">
					<div class="card">
						<div class="card-body">
							This is some text within a card body.
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							This is some text within a card body.
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							This is some text within a card body.
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							This is some text within a card body.
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							This is some text within a card body.
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							This is some text within a card body.
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="btn btn-outline-lightblue rounded-pill">Learn more</a>
	</div>

</div>
{% endblock content %}