{% extends "homepage/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid m-0 p-0 position-relative">
	<div class="bg-lightblue">
		<img src="{% static 'products/indexBG.jpg' %}" height=alt="" class="vw-100 opacity-25">
	</div>
	<div class="start-50 top-0 position-absolute text-center translate-middle-x mt-5">
		<h1 class="fw-bold mt-4">Beijing Majestic Stationery</h1>
		<p> An industrial and commercial company specialized in stationery trading.</p>
		<a class="btn btn-bluegrotto mt-3" href="{% url 'products:products' %}">See Products</a>
	</div>
</div>
{% endblock content %}