{% extends "homepage/base.html" %}
{% load static %}

{% block content %}
<!-- TODO: add go back button -->
<div class="container-fluid bg-lightblue p-5">
  <div class="container col-lg-10 col-xxl-8">
    <a class="btn btn-bluegrotto mb-3" href="javascript:window.history.back();">Back</a>
    <div class="row justify-content-center">
      <div class="col">
        <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active overflow-hidden">
              <img src="{{ product.photo.url }}" class="img-fluid detail-product-crop">
            </div>
            {% for photo in product.productphoto_set.all %}
            <div class="carousel-item overflow-hidden">
              <img src="{{ photo.detail_photo.url }}" class="img-fluid detail-product-crop">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="my-3 w-100 d-block d-lg-none"></div>
      <div class="col-lg-4">
        <div>
          <h2 class="fw-bold text-navyblue">{{ product.name }}</h2>
        </div>
        <div class="mt-3">
          <p class="text-navyblue">{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-12 col-lg-11 col-xxl-9">
    <hr class="my-5">
  </div>
  <div class="container mt-5 col-lg-10 col-xxl-8">
    <div class="mb-5">
      <h4 class="fw-bold text-navyblue">Similar Products</h4>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
      {% for product in similar_products %}
      <div class="col">
        <img class="similar-product-crop" src="https://image-placeholder.com/images/actual-size/320x240.png"
          alt="similar product {{ product }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}