{% extends "homepage/base.html" %} {% load static %} {% block CSS %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700" />
<link rel="stylesheet" href="{% static 'products/card.css' %}" />
{% endblock CSS %} {% block content %} {% if products %}
<div class="container mt-5 mx-auto col-lg-8 col-xxl-6 d-flex flex-row overflow-scroll">
  <div class=""></div>
  {% for category in categories %}
  <a type="button" href="{% url 'products:products' category|lower %}" class="btn btn-bluegrotto rounded-pill mx-4"
    >{{ category }}</a
  >
  <a type="button" href="{% url 'products:products' category|lower %}" class="btn btn-bluegrotto rounded-pill mx-4"
    >{{ category }}</a
  >
  <a type="button" href="{% url 'products:products' category|lower %}" class="btn btn-bluegrotto rounded-pill mx-4"
    >{{ category }}</a
  >
  {% endfor %}
</div>
<div id="app" class="container-card">
  {% endif %} {% for product in products %}
  <a href="{% url 'products:product_detail' product.pk %}">
    <card data-image="{{ product.photo.url }}">
      <h1 slot="header">{{ product.name }}</h1>
    </card>
  </a>
  {% empty %}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </symbol>
  </svg>
  <div class="alert alert-warning d-flex align-items-center m-3 mt-4" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>{{ message }}</div>
  </div>
  {% endfor %}
  <!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
  <script src="{% static 'products/card.js' %}"></script>
</div>
{% endblock content %}
