# Local Environment
.python-version
**/__pycache__/
venv/
.env*
*.env
*.pem
nginx.conf
migrations/
compose-dev.yaml

# IDEs
/.vscode/
/.idea/

# Django Local Assets
/staticfiles/
/media/
*.sqlite3

#macOS
.DS_Store
