[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cleanup = "*"
pillow = "*"
"django4.0-oss-storage" = "*"
mysqlclient = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
python-dotenv = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.11"
