[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-cleanup = "*"
pillow = "*"
"django4.0-oss-storage" = "*"
mysqlclient = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.11"
