.bg-lightblue {
    background-color: #d4f1f4;
}

.bg-majesticblue {
    background-color: #75e6da;
}

.bg-bluegrotto {
    background-color: #189ab4;
}

.bg-navyblue {
    background-color: #05445e;
}