{% extends "homepage/base.html" %}
{% load static %}

{% block CSS %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
	integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async>
</script>
{% endblock CSS %}

{% block content %}
<div class="bg-lightblue pb-4">
	<div class="container py-5">
		<div class="row mb-5">
			<div class="col-md-8 col-xl-6 text-center mx-auto">
				<h1 class="fw-bold text-navyblue">About Us</h1>
			</div>
		</div>
		<div class="d-flex flex-column justify-content-center align-items-center mx-5">
			{% for text in texts %}
			<p class="text-center text-navyblue">{{text.text}}</p>
			{% endfor %}
		</div>
	</div>
	<div class="container my-4">
		<img src="{% static 'about/about-img.jpg' %}" class="img-fluid" alt="About image">
	</div>
	<div class="container my-5">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<a href="{% url 'contact_us:contact' %}" class="btn btn-outline-navyblue rounded-pill">Have a question?
				Let's talk!</a>
		</div>
	</div>
</div>
{% endblock content %}