{% extends "homepage/base.html" %}

{% block CSS %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
	integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async>
</script>
{% endblock CSS %}

{% block content %}
<div class="bg-lightblue pt-5">
	<div class="container py-4 py-xl-5">
		<div class="row mb-5">
			<div class="col-md-8 col-xl-6 text-center mx-auto">
				<h1>About Us</h1>
			</div>
		</div>
		<div class="d-flex flex-column justify-content-center align-items-center mx-5">
			{% for text in texts %}
			<p class="text-center">{{text.text}}</p>
			{% endfor %}
		</div>
	</div>
	<div class="container my-4">
		<div class="grid" data-masonry='{"percentPosition": true, "itemSelector": ".img-fluid", "columnWidth": 200, "fitWidth": true, "gutter": 0 }'>
			<!-- <div class="grid-item">
				<img src="https://via.placeholder.com/300" class="card-img-top">
			</div>
			<div class="grid-item">
				<img src="https://via.placeholder.com/150" class="card-img-top">
			</div> -->
			<img src="https://via.placeholder.com/150" class="rounded img-fluid" alt="...">
			<img src="https://via.placeholder.com/300" class="rounded img-fluid" alt="...">
			<img src="https://via.placeholder.com/150" class="rounded img-fluid" alt="...">
			<img src="https://via.placeholder.com/150" class="rounded img-fluid" alt="...">
			<img src="https://via.placeholder.com/300" class="rounded img-fluid" alt="...">
			<img src="https://via.placeholder.com/150" class="rounded img-fluid" alt="...">
			<img src="https://via.placeholder.com/150" class="rounded img-fluid" alt="...">
			<img src="https://via.placeholder.com/300" class="rounded img-fluid" alt="...">
			<img src="https://via.placeholder.com/150" class="rounded img-fluid" alt="...">
		</div>
	</div>
	<div class="container">

	</div>
</div>
{% endblock content %}